body{
  background-color: #202020
}

p{
  font-family: webfont;
  font-size: 48px;
  line-height: 0%;
}

@font-face{
  font-family: webfont;
  src: url("Unkempt-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

.mid{
  display: grid;
  justify-content: center;
  align-items: center;

}

.pink-text{
  color: #C882B9; /* F0AABA */
}

.white-text{
  color: #FFFFFF;
}

.green-text{
  color: #70db70
}

.orange-text{
color: #ffa64d
}
